

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


   /* ==========================================================================
   fonts
   ========================================================================== */
   
   /* font-family: 'Roboto', sans-serif;
   font-family: 'Montserrat', sans-serif;
   font-family: 'Playfair Display', serif; */

/* ==========================================================================
   Global styles
   ========================================================================== */

  
   
/* -----------------------------------------
   Header
----------------------------------------- */

   



	
	
/* -----------------------------------------
   Navigation
----------------------------------------- */	



   






   /* ==========================================================================
   Navbar Styles
   ========================================================================== */

  



   /* ==========================================================================
   Hero Section
   ========================================================================== */
  
   .hero-section{
        min-height: 400px;
    }





   /* ==========================================================================
   Service Area
   ========================================================================== */
   


   /* ==========================================================================
   About Us Section
   ========================================================================== */

   

   #company .aboutus-section p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 200;    
    margin-bottom: 0px; 
    padding: 0px;     
   }
   


   /* ==========================================================================
   Vision Section
   ========================================================================== */

  


     /* ==========================================================================
   Our Core Value Section
   ========================================================================== */

  


   /* ==========================================================================
   Client Section
   ========================================================================== */

  

   /* ==========================================================================
    Footer Section
   ========================================================================== */

  










   /* ==========================================================================
   Screen above 576px - sm
   ========================================================================== */
   @media screen and (min-width: 576px) {
   /* ==========================================================================
   Header section
   ========================================================================== */

  


   /* ==========================================================================
   Hero Section
   ========================================================================== */

  


   /* ==========================================================================
   Author's custom styles
   ========================================================================== */


   }







/* ==========================================================================
   Screen above 768px - md
   ========================================================================== */
   @media screen and (min-width: 768px) {
    /* ==========================================================================
    Navigation
    ========================================================================== */
 
	

   /* ==========================================================================
   Services Umbrella Section
   ========================================================================== */

  


      /* ==========================================================================
    Quality Section
    ========================================================================== */


    


     /* ==========================================================================
    Footer
    ========================================================================== */





    /* ==========================================================================
    Author's custom styles
    ========================================================================== */

 
 
 
 
    }



    /* ==========================================================================
   Screen above 992px - lg
   ========================================================================== */
   @media screen and (min-width: 992px) {
    /* ==========================================================================
    Author's custom styles
    ========================================================================== */
 
      /* ==========================================================================
   Services Umbrella Section
   ========================================================================== */

 
 
 
    /* ==========================================================================
    Author's custom styles
    ========================================================================== */
 
 
 
 
    /* ==========================================================================
    Author's custom styles
    ========================================================================== */
 
 
    }





   /* ==========================================================================
   Author's custom styles
   ========================================================================== */





   /* ==========================================================================
   Author's custom styles
   ========================================================================== */



   









